body {
    background-color: black;
    color: white;
    font-size: 60px;
    font: impact;
}
a {
    text-decoration: none;
    color: white;
    font: bold;
}
button {
    color: white;
    background-color: black;
    width: 260px;
    height: 140px;
    border-width: 4px;
    border-color: rgb(255, 0, 0);
    font-size: 50px;
    font: arial Black;
    cursor: grab;
}
p {
    font-size: 30px;
}
.desktop-content { display: block; }
.mobile-content { display: none; }

@media (max-width: 768px) {
   .desktop-content { display: none; }
   .mobile-content { display: block; }
}
/* Стили для всех устройств (базовые) */

/* Срабатывает ТОЛЬКО когда ширина экрана ≤ 768px (телефоны/планшеты) */
@media (max-width: 768px) {
    /* Эти стили применяются только на телефонах */
    .desktop-menu { display: none; }
    .mobile-menu-btn { display: block; }
}

/* Срабатывает ТОЛЬКО когда ширина экрана > 768px (ПК) */
@media (min-width: 769px) {
    /* Эти стили применяются только на ПК */
    .desktop-menu { display: flex; }
    .mobile-menu-btn { display: none; }

}
